@media screen and (min-width: 768px) {
    .cqheader nav .nav-main .nav-main-wrapper .section-secondary-nav ul .sub-menu {
        width: 960px;
    }
    
    .cqheader header .header-main .header-main-wrapper {
        width: 970px;
    }
    
    .footer .section-utility-wrapper, .footer .section-contact-wrapper, .footer .section-branding-wrapper, .footer .section-products-wrapper {
	  width: 970px; 
	}
}

@media screen and (max-width: 767px) {
    .error404 img{
		width:100% !important;
	}
    html, body {
		width: 100%;
	}
    
    * {
	    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
    
    body {
    	overflow-x: hidden;
      	overflow-y: scroll;
      	width: 100%;
      	cursor: pointer; 
	}
	#page{
		overflow-x: hidden;
	}
      
    .cqheader nav .nav-main .nav-main-wrapper .section-secondary-nav ul .sub-menu {
        width: 90%;
    }
    
    .cqheader header .header-main .header-main-wrapper {
        width: 100%;
        padding: 0;
    }
    
    .cqheader header .header-main .header-main-wrapper .row {
        margin: 0;
    }
    
    .cqheader header .header-main .header-main-wrapper .row .col-xs-12 {
        padding: 0;
    }
    
    
	.cqheader header .header-main .header-main-wrapper .mobile-header-wrapper .branding {
    	height: 52px;
    	background-color: #444444;
	}
	
	
	.cqheader header .header-main .header-main-wrapper .mobile-header-wrapper .branding .logo {
	    margin-left: 14px;
	    margin-top: 12px;
	    margin-bottom: 12px;
	}
	
	.cqheader header .header-main .header-main-wrapper .mobile-header-wrapper .header-icons button {
	    height: 28px;
	    outline: none;
	    border: 0;
	    outline: none;
	    position: absolute;
	}
	
	.cqheader header .header-main .header-main-wrapper .mobile-header-wrapper .header-icons {
	    height: 52px;
	    background-color: #444444;
	    padding: 12px 8px;
	}
	
	.cqheader header .header-main .header-main-wrapper .mobile-header-wrapper .branding .logo img {
	    height: 28px;
	    width: auto;
	}
	
	.cqheader header .header-main .header-main-wrapper .mobile-header-wrapper .header-icons button {
		border: 0;
	}
	
	.cqheader header .header-main .header-main-wrapper .mobile-header-wrapper .header-icons .mheader-search {
	    background: url(../../../../../etc.clientlibs/settings/wcm/designs/common/images/resources/img/header_search.png) no-repeat center;
	    background-size: contain;
	    width: 28px;
	    right: 144px;
	    height: 28px;
	}
	
	.cqheader header .header-main .header-main-wrapper .mobile-header-wrapper .header-icons .mheader-location {
	    background: url(../../../../../etc.clientlibs/settings/wcm/designs/common/images/resources/img/header_locations.png) no-repeat center;
	    background-size: contain;
	    width: 19px;
	    right: 109px;
	    height: 28px;
	}

	.cqheader header .header-main .header-main-wrapper .mobile-header-wrapper .header-icons .mheader-account {
	    background: url(../../../../../etc.clientlibs/settings/wcm/designs/common/images/resources/img/header_account.png) no-repeat center;
	    background-size: contain;
	    width: 28px;
	    right: 65px;
	    height: 28px;
	}
	
	.cqheader header .header-main .header-main-wrapper .mobile-header-wrapper .header-icons .mheader-cart {
	    background: url(../../../../../etc.clientlibs/settings/wcm/designs/common/images/resources/img/header_cart.png) no-repeat center;
	    background-size: contain;
	    width: 38px;
	    right: 14px;
	    height: 28px;
    }
    
    .cqheader header .header-main .header-main-wrapper .mobile-header-wrapper .header-icons .mheader-cart .badge-mobile {
	    display: none;
	    min-width: 10px;
	    padding: 3px 7px;
	    font-size: 12px;
	    font-weight: 700;
	    line-height: 1;
	    color: #0078c1;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    background-color: #fff;
	    border-radius: 10px;
	    position: absolute;
	    top: -6px;
	    right: -10px;
}
    
    .cqheader header .header-main .header-main-wrapper .mobileSearch .search-container {
	    height: 50px;
	    margin: 0;
	    background-color: #0078c1;
	}
	 .alternate .cqheader header .header-main .header-main-wrapper .mobileSearch .search-container {
	    background-color: #137FA3;
	}
	
	.cqheader header .header-main .header-main-wrapper .mobileSearch .search-container .simple-search {
	    float: left;
	    width: 100%;
	    padding: 8px 14px;
	}
	

	.cqheader header .header-main .header-main-wrapper .mobileSearch .search-container .simple-search {
	    float: left;
	    width: 100%;
	    padding: 8px 14px;
    }
    
    .cqheader header .header-main .header-main-wrapper .mobileSearch .search-container .simple-search input[type="text"] {
	    background-color: #fff !important;
	    width: 88%;
	    box-shadow: none;
	    border: none;
	    border-radius: 2px;
	}
    
   .cqheader header .header-main .header-main-wrapper .mobileSearch .search-container .simple-search {
        width: 100%; 
    }
        
	.header header .header-main .header-main-wrapper .mobileSearch .search-container .simple-search .fa-search {
	    background: transparent url(../../../../../resources/img/header_search.png) no-repeat scroll center right;
	    background-size: cover;
	}

	.cqheader header .header-main .header-main-wrapper .mobileSearch .search-container .simple-search .fa {
	    width: 22px;
	    height: 22px;
	    margin-left: 8px;
	}
	
	.button, .button__link, .button__search, #cookie-bar .cb-enable, #cookie-bar .cb-disable {
	    font-style: normal;
	    font-weight: normal;
	    font-family: "Arial", sans-serif;
	    height: 37px;
	    margin: 0;
	    display: inline-block;
	    text-decoration: none;
	    text-shadow: 0 1px 0 #0078c1;
	    text-align: center;
	    text-transform: uppercase;
	    letter-spacing: 0.02em;
	    border: 1px solid #0078c1;
	    -webkit-appearance: none;
	    background-color: #0078c1;
	    background-image: none;
	    color: #fff;
	}
	
	.cqheader header .header-main .header-main-wrapper .mobileSearch .search-container .simple-search button {
	    width: 11%;
	    padding: 0;
	    border: none;
	}
		
	.cqheader header .header-main .header-main-wrapper .mobileSearch .search-container .search-links {
	    display: none;
	}	
			
	.cqheader header .utility-nav {
		clear: both;
	}

	.cqheader header .header-main .header-main-wrapper .mobile-utility .section-utility .utility-links ul li {
		display: block;
	}
	
	.cqheader header .header-main .header-main-wrapper .mobile-utility .section-utility {
		text-align: left;
	}
	
	.cqheader header .header-main .header-main-wrapper .mobile-utility .section-utility .mobileHomeImage img {
		width: 100%;
	}
	
	.cqheader header .header-main .header-main-wrapper .mobile-utility .section-utility .utility-links ul li a span.icon {
	    background: transparent url(../../../../../etc.clientlibs/settings/wcm/designs/common/images/resources/img/arrowrightblue.png) no-repeat scroll center right;
	    width: 7px;
	    height: 13px;
	    float: right;
	    margin-right: 14px;
	}
	.cqheader header .header-main .header-main-wrapper .mobile-utility .section-utility .utility-links ul li span.iconPhone {
	    background: transparent url(../../../../../etc.clientlibs/settings/wcm/designs/common/images/resources/img/Phone.png);
	    background-size: 20px 20px;
    	float: left;
    	margin-right: 18px;
    	background-repeat: no-repeat;
    	height: 20px;
    	width: 20px;
	}

	
	.cqheader header .header-main .header-main-wrapper .mobile-utility .section-utility .utility-links ul li:first-child {
	    padding-left: 14px; 
	}
	
    .cqheader header .header-main .header-main-wrapper .mobile-utility .section-utility .utility-links ul li {
        margin-left: 0;
        color: #444444;
        text-decoration: none;
        font-size: 13px;
        margin: 0;
        display: block;
        width: 100%;
        height: 100%;
        padding: 20px 14px;
        border: 1px solid #ddd;
        border-left: none;
        border-right: none;
        position: relative;
        margin-bottom: -1px;
        background-color: #fff;
        margin-top: 0;
        text-align: left;
    }  
    
    .cqheader header .header-main .header-main-wrapper .mobile-utility .section-utility .utility-links ul li a {
	    margin-left: 0;
	    color: #444444;
	    text-decoration: none;
	    font-size: 13px;
	    margin: 0;
	    display: block;
	    width: 100%;
	    height: 100%;
	    font-weight: 500;
	}
    
    .cqheader header .header-main .header-main-wrapper .mobileSearch .search-container {
	    height: 50px;
	    margin: 0;
	    background-color: #0078c1;
    }

    .container-fluid, .footer, .cqheader {
       margin-right: auto;
       margin-left: auto;
       padding-left: 0;
       padding-right: 0;
    }
    
    .footer .section-utility {
		padding-bottom: 0px;
	}
	
	.footer .footerutilitynav .section-utility .section-utility-wrapper .col-xs-4 {
	    background-color: #2b2b2b;
	    color: #666666;
	    width: 100% !important;
	    text-align: center;
	}
	
	
	.footer .section-utility .section-utility-wrapper .col-xs-8 {
    	width: 100% !important;
	}
	
    .footer .footerutilitynav .section-contact .section-contact-wrapper .section-social .social {
	    text-align: center;
	}
	
	.footer .footerutilitynav .section-utility {
	    background-color: #444444;
	    padding-top: 0px;
	}
	 
	.footer .footerutilitynav .section-utility {
	    color: #8d8c8c;
	    font-size: 12px;
	    font-weight: normal;
	    padding-top: 0px; 
	}
	
	.footer .footerutilitynav .section-utility .section-utility-wrapper {
	    text-align: center;
	    margin:0;
	}
	
	.footer .section-utility .section-utility-wrapper .col-xs-8 nav ul li a {
	    font-size: 9px;
	    color: #fff;
	}
	
	.footer .footerutilitynav .section-utility-wrapper, .footer .section-contact-wrapper, .footer .section-branding-wrapper, .footer .section-products-wrapper {
	  width: 100%; 
	}
	
	.footer .section-utility .section-utility-wrapper .footer-address a {
	    color: #b5b5b5;
	    font-size: 9px;
	}
	
	.footer .section-user {
	    background-color: #b5b5b5;
	}
	
	.footer .footer-accounts {
	      background-color: #444444;
	      text-align: center;
	      padding: 14px 14px 5px; 
	 }
      .footer .footer-accounts select {
	        display: inline-block;
	        color: #fff;
	        background-color: transparent;
	        border: none;
	        border-color: transparent; 
	        background: url(../../../../../etc.clientlibs/settings/wcm/designs/common/images/resources/img/triangle-xxl.png);
	        background-position: right center;
    		background-repeat: no-repeat;
    		background-size: 8px 8px;
    		padding-right: 1.5em;
    		-webkit-appearance: none;
        }
        .footer .footer-accounts select:focus {
	          box-shadow: none;
	          outline: none;
	          border: none;
	          outline: -webkit-focus-ring-color auto 0px; 
          }
        .footer .footer-accounts select option {
          	color: #000000; 
          }
	.footer .section-contact {
	    background-color: #444444;
	}

	.footer .section-contact .section-contact-wrapper {
	    padding: 12px 0px 14px;
	}

	.footer .section-contact .section-contact-wrapper .section .followus .header1 {
	    display: none !important;
	}
	
	.footer .section-contact .section-contact-wrapper  .followus .customComponentTitle  {
       display: none !important;
    }
	
	.footer .section-contact .section-contact-wrapper .section .social {
    	text-align: center;
	}
	
	.footer .icon {
	    width: 28px !important;
	    float: none;
	    margin: 0;
	}
	
	.footer .section-contact .section-contact-wrapper .icon-social {
		height: 28px;
	}
	
	.footer .section-contact .section-contact-wrapper .section .social .icon-linkedin {
	    background: url(../../../../../etc.clientlibs/settings/wcm/designs/common/images/resources/img/linkedin.png) no-repeat center;
	    background-size: contain;
	}
	
	.footer .section-contact .section-contact-wrapper .section .social .icon-twitter {
    	background: url(../../../../../etc.clientlibs/settings/wcm/designs/common/images/resources/img/twitter.png) no-repeat center;
    	background-size: contain;
	}
	
	.footer .section-contact .section-contact-wrapper .section .social .icon-facebook {
	    background: url(../../../../../etc.clientlibs/settings/wcm/designs/common/images/resources/img/facebook.png) no-repeat center;
	    background-size: contain;
	}
	
	.footer .section-contact .section-contact-wrapper .section .social .icon-instagram {
	    background: url(../../../../../etc.clientlibs/settings/wcm/designs/common/images/resources/img/instagram.png) no-repeat center;
	    background-size: contain;
	}
	
	.footer .section-contact .section-contact-wrapper .section .social .icon-youtube {
	    background: url(../../../../../etc.clientlibs/settings/wcm/designs/common/images/resources/img/youtube.png) no-repeat center;
	    background-size: contain;
	}
	
	.footer .section-utility .section-utility-wrapper .col-xs-4.text-right .copyright {
	    padding: 9px 0px;
	    font-size: 9px;
	}
	
	.footer .section-contact .section-contact-wrapper .header1, .footer .section-contact .section-contact-wrapper h5 {
		display: none;
	}
	
	.footer .section-user ul li strong {
	    display: block;
	    float: left;
	    font-size: 9px;
	    font-style: italic;
	    font-weight: normal;
	    padding: 5px 0 5px 14px;
	    color: #2b2b2b;
	}
	
	.footer .section-user ul {
	    background-color: #b5b5b5;
	    list-style-type: none;
	    padding: 0;
	    margin: 0;
	    display: block;
	    height: 19px;
	}
	
	.footer .section-user ul li a {
	    font-size: 9px;
	    float: right;
	    padding: 5px 14px 5px 0;
	    color: #2b2b2b;
	    text-align: right;
	    text-decoration: none;
	}
	
	.cqheader header .header-main .header-main-wrapper .section-utility .utility-links ul li:last-child, .cqheader header .header-main .header-main-wrapper .mobile-utility .section-utility .utility-links ul li:last-child {
		padding-right: 14px;
	}
	
	
	.language-selector, .country-selector {
  cursor: pointer; }
   .language-selector .modal-header, .country-selector .modal-header {
    border-bottom: 1px solid grey; }
   .language-selector .modal-header h1, .country-selector .modal-header h1 {
      text-align: center; }
.language-selector .colorbox-content, .country-selector  .colorbox-content{
    padding: 14px; }
   .language-selector  .yes, .language-selector  .cancel, .country-selector  .yes, .country-selector  .cancel {
      float: right;
      text-align: center;
      padding: 8px;
      width: 90px;
      margin-bottom: 14px; }
   .language-selector  .yes, .country-selector  .yes {
      color: #fff;
      background: #0078c1;
      font-size: 14px;
      border-radius: 5px; }
    .language-selector  .cancel, .country-selector  .cancel {
      color: #0078c1; }
  .language-selector .country-selector-modal, .country-selector .country-selector-modal {
    clear: right;
    padding: 14px; }
  .language-selector .country-selector-modal p, .country-selector .country-selector-modal p {
      color: #444444;
      font-size: 15px; }
    .language-selector .country-selector-modal p a, .country-selector .country-selector-modal p a {
        color: #0078c1;
        font-size: 11px;
        text-decoration: none; }
	.language-selector {
		margin-top: 0px;
	    width: 100% !important;
	}
	

	.footer .section-utility .section-utility-wrapper .col-xs-8 .language-selector img.iconMobileFlag {
	    background-size: contain;
	    margin-right: 10px;
	    margin-bottom: 6px;
	}
	

    #colorbox:focus{
    	outline:none;
    }


	
	.cboxClose {
	    color: #0078c1;
	    margin-top: 18px;
	    text-transform: capitalize;
	    width: 25px;
	    height: 25px;
	    margin-right: 14px;
	    position: absolute;
	    top: 0;
	    right: 0;
	    text-indent: -9999px;
	    z-index: 100;
	}

	.countryLanguageSelectorDialog {
	    max-width: none;
	    border: 1px solid #cccccc;
	    border-radius: 3px;
	}	
	
	/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/



#cboxOverlay {
  background:#000; repeat 0 0;
  position: fixed;
  width: 100%;
  height: 100%; 
}
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; 
 }

#cboxWrapper {
  max-width: none;
  border: 1px solid #cccccc;
  border-radius: 3px; }

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

#cboxContent {
  position: relative;
  background: #fafafa;
  background: linear-gradient(180deg, #fafafa, #efefef); }

#cboxLoadedContent {
  -webkit-overflow-scrolling: touch; }
  #cboxLoadedContent .productImagePrimary {
    margin-top: 40px; }
  #cboxLoadedContent .address-cleansing {
    margin: 15px 0px 15px 0px;
    padding: 0 10px;
    width: 605px; }
    #cboxLoadedContent .address-cleansing .edit-button {
      margin-right: 8px; }
    #cboxLoadedContent .address-cleansing .address-headline {
      margin-bottom: 0px;
      font-weight: bold; }
    #cboxLoadedContent .address-cleansing .address {
      margin-top: 5px; }
  #cboxLoadedContent .product-tile .productImagePrimary {
    margin-top: 0px; }
  #cboxLoadedContent #cboxModalLoadingGraphic {
    background: url(clientlib_mobile/images/colorbox/loading.gif) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#cboxTitle {
  margin: 0; }

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#cboxModalLoadingGraphic {
  background: url(clientlib_mobile/images/colorbox/loading.gif) no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
 }

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer; }

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic; }

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0; }

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }
  
  .cboxClose {
    color: #0078c1;
    margin-top: 18px;
    text-transform: capitalize;
    width: 25px;
    height: 25px;
    margin-right: 14px;
    position: absolute;
    top: 0;
    right: 0;
    text-indent: -9999px;
    z-index: 100;
    background: url('../../../../../etc.clientlibs/settings/wcm/designs/common/images/resources/img/blue_x_1.png') no-repeat 0 0;
}

}
