/* ------------------------------------------ */
/* Print Style 
/* ------------------------------------------ */
.print {
  display: none !important; }

@media print {
  .common-wrapper, .content-wrapper, .mainHolder, .main-banner__content-holder, .block-homesquare-main-menu-menu, .static-banner__content, .main-banner__slider-control {
    width: 100% !important; }

  .print {
    display: block !important;
    width: 100%;
    font-size: 14px; }

  .print--link {
    text-decoration: underline; }

  header > *, footer, nav {
    display: none !important; }

  header {
    position: relative;
    width: 100%;
    height: auto !important;
    padding-top: 0 !important; }

  #header-menu {
    display: block !important;
    margin-bottom: 10px; }

  .header-logo {
    position: relative !important; }
    .header-logo .print {
      display: none !important; }
    .header-logo:before {
      display: none !important; }
    .header-logo .header-logo__long-white,
    .header-logo .header-logo__short,
    .header-logo .header-logo__short-white {
      display: none !important; }
    .header-logo .header-logo__long {
      display: block !important;
      max-width: 400px !important; }

  .sec-shortcut,
  #skiptargetholder {
    display: none !important; }

  .breadcrumbs {
    display: none !important; }

  .main-banner__slider-control,
  .main-banner__pagination,
  .top-search {
    display: none !important; }

  .weather-info__weather {
    position: relative !important;
    width: 100% !important;
    top: auto !important; }
    .weather-info__weather * {
      color: #000 !important; }

  .swiper-wrapper {
    display: block !important;
    width: 100% !important;
    transform: none !important; }

  .main-banner__slide {
    height: auto !important;
    color: #000 !important; }

  .main-banner {
    display: block !important;
    width: 100% !important;
    height: auto !important;
    text-align: left !important;
    padding-top: 20px; }
    .main-banner * {
      display: block !important;
      width: 100% !important;
      text-align: left !important; }
    .main-banner .btn {
      display: block !important;
      width: 100% !important;
      background: none;
      text-align: left;
      padding: 0 !important;
      margin: 0 !important; }

  .main-banner__slider-prev,
  .main-banner__slider-next,
  .main-banner__slider-control {
    display: none !important; }

  .main-banner__slide * {
    opacity: 1 !important;
    animation: none !important;
    -webkit-animation: none !important;
    margin-bottom: 10px; }

  .main-banner__title,
  .main-banner__title-tag {
    display: block !important;
    width: 100% !important;
    color: #000 !important; }

  .main-banner__title {
    font-size: 20px; }

  .main-banner__title-tag {
    font-size: 16px; }

  .main-banner__content-holder {
    display: block !important;
    width: 100% !important; }

  .main-banner__bottom {
    display: none !important; }

  .our-work {
    text-align: left !important; }

  .our-work__item {
    display: block !important;
    width: 100% !important;
    opacity: 1 !important; }

  .our-work__item-icon {
    -webkit-print-color-adjust: exact;
    opacity: 1 !important;
    margin: 0; }

  .our-work__title {
    display: block !important;
    width: 100% !important;
    font-size: 24px;
    opacity: 1 !important; }

  .our-work__item-title {
    opacity: 1 !important; }

  .news-center {
    padding-top: 0 !important; }
    .news-center * {
      color: #000 !important;
      text-align: left !important; }

  .news-centre__content-holder {
    opacity: 1 !important; }

  .news-centre__title {
    display: block !important;
    width: 100% !important;
    font-size: 24px;
    text-align: left !important;
    opacity: 1 !important;
    color: #000 !important; }

  .news-centre .swiper-slide-duplicate {
    display: none !important; }

  .items-slider__control,
  .news-centre__bg {
    display: none !important; }

  .items-slider__item {
    display: block !important;
    width: 100% !important; }

  .items-slider__item-date {
    font-size: 20px !important; }

  .items-slider__item-desc {
    display: block !important;
    width: 100% !important;
    font-size: 16px !important; }

  .btn-row .btn {
    display: none !important;
    width: 100% !important;
    background: none;
    text-align: left;
    padding: 0 0 5px; }

  .tabs__content-holder {
    height: auto !important; }

  .tabs__content {
    position: relative !important;
    display: block !important;
    width: 100% !important;
    opacity: 1 !important; }
    .tabs__content * {
      color: #000 !important; }

  .tabs__btns {
    display: none !important; }

  .tabs__content {
    display: block !important;
    width: 100% !important; }

  .event-calendar {
    padding-top: 0 !important; }
    .event-calendar * {
      color: #000 !important;
      text-align: left !important; }
    .event-calendar .print {
      display: block !important;
      width: 100% !important; }
    .event-calendar .scroll-bar {
      display: none !important; }
    .event-calendar .viewport,
    .event-calendar .overview {
      position: relative !important;
      display: block !important;
      width: 100% !important; }

  .event-calendar__title {
    display: block !important;
    width: 100% !important;
    font-size: 24px;
    opacity: 1 !important; }

  .event-calendar__list-day,
  .event-calendar__calendar-holder {
    display: none !important; }

  .event-calendar__top,
  .event-calendar__list-holder {
    opacity: 1 !important; }

  .event-calendar__list-item {
    display: block !important; }

  .event-calendar__list {
    height: auto !important; }

  .sec-highlights {
    padding-top: 0 !important; }
    .sec-highlights .print {
      display: block !important;
      width: 100% !important; }
    .sec-highlights * {
      color: #000 !important; }

  .sec-highlights__holder {
    opacity: 1 !important; }

  .sec-highlights__item {
    display: block !important;
    width: 100% !important; }

  .sec-highlights__item-title {
    text-align: left !important; }

  .sec-highlights__item-img {
    display: block !important;
    opacity: 1 !important;
    width: 25%;
    margin: 0px !important; }

  .sec-highlights__item-img-body {
    display: block !important;
    -webkit-print-color-adjust: exact;
    opacity: 1 !important; }

  .thumb-slider {
    padding-top: 0 !important; }
    .thumb-slider .sec-highlights__item-img {
      display: none !important; }
    .thumb-slider .print {
      display: block !important;
      width: 100% !important; }
    .thumb-slider * {
      color: #000 !important;
      text-align: left !important; }
    .thumb-slider .swiper-wrapper {
      display: block !important;
      width: 100% !important;
      transform: none !important;
      -webkit-transform: none !important; }

  .thumb-slider__item-img {
    display: none !important;
    width: 200px !important; }

  .thumb-slider__item {
    display: inline-block !important;
    width: 30% !important;
    opacity: 1 !important; }

  .thumb-slider__pagination,
  .thumb-slider__control {
    display: none !important; }

  section.static-banner {
    height: 70px !important; }

  section.static-banner .static-banner__title {
    padding-top: 20px;
    font-size: 28px;
    width: 100%; }

  section.breadcrumbs {
    padding-top: 10px;
    padding-bottom: 10px; }

  section {
    padding-top: 5px !important;
    padding-bottom: 5px !important; }

  section.basic-holder .sec-article__link-btn {
    display: none; }

  .main-banner .swiper-wrapper {
    height: auto !important;
    transform: none !important; }

  .main-banner .swiper-wrapper .swiper-slide {
    transform: none !important;
    opacity: 1 !important; }

  .main-banner .swiper-wrapper .swiper-slide-duplicate {
    display: none !important; }

  .main-banner .swiper-wrapper .swiper-slide .main-banner__txt .btn {
    display: none !important; }

  .main-banner .swiper-wrapper .swiper-slide .main-banner__title br {
    display: none !important; }

  .accordion__content {
    display: block !important; }

  .video-sec .swiper-wrapper {
    height: auto !important;
    transform: none !important; }

  .video-sec .swiper-wrapper .swiper-slide-duplicate {
    display: none !important; }

  .video-thumb:before {
    display: none !important; }

  .sec-article__head-logo {
    max-width: 200px;
    margin-bottom: 15px; }

  .gallery-slider__img-holder {
    text-align: left;
    max-width: 300px; }

  .sec-article__head-tag {
    font-size: 20px !important;
    line-height: 1em;
    margin: 0 0 15px; }

  .gallery-slider * {
    opacity: 1 !important;
    position: relative !important;
    display: block !important;
    width: 100% !important;
    transform: none !important;
    -webkit-transform: none !important; }

  .gallery-slider__slider {
    opacity: 1 !important;
    position: relative !important;
    display: block !important;
    width: 100% !important;
    margin-top: 30px; }
    .gallery-slider__slider .swiper-wrapper {
      position: relative !important;
      display: block !important;
      width: 100% !important;
      height: auto !important; }
    .gallery-slider__slider .swiper-slide {
      display: block !important;
      width: 100% !important;
      opacity: 1 !important;
      position: relative !important;
      top: auto !important;
      bottom: auto !important;
      left: auto !important;
      right: auto !important;
      margin-bottom: 30px; }
      .gallery-slider__slider .swiper-slide .gallery-slider__item-inner {
        position: relative !important;
        display: block !important;
        width: 100% !important;
        height: auto !important; }
      .gallery-slider__slider .swiper-slide .gallery-slider__img-holder {
        position: relative !important;
        display: block !important;
        width: 100% !important;
        height: auto !important;
        margin-bottom: 10px;
        padding: 0; }
      .gallery-slider__slider .swiper-slide .gallery-slider__info-holder {
        position: relative !important;
        display: block !important;
        width: 100% !important;
        height: auto !important;
        margin-bottom: 0;
        padding: 0 !important; }
      .gallery-slider__slider .swiper-slide.swiper-slide-duplicate {
        display: none !important; }
      .gallery-slider__slider .swiper-slide .gallery-slider__info-txt, .gallery-slider__slider .swiper-slide .gallery-slider__info-label {
        position: relative !important;
        display: block !important;
        width: 100% !important; }
      .gallery-slider__slider .swiper-slide .gallery-slider__info-label,
      .gallery-slider__slider .swiper-slide .gallery-slider__info-txt {
        color: #000; }
      .gallery-slider__slider .swiper-slide .gallery-slider__info-txt {
        font-size: 18px !important;
        line-height: 1.125em;
        margin: 0 0 15px; }

  .gallery-slider__control,
  .gallery-slider__count {
    display: none !important; }

  .info-list__title {
    padding: 0 !important; }

  .static-banner__title {
    color: #000 !important; }

  h1 {
    font-size: 36px !important; }

  h2 {
    font-size: 32px !important; }

  h3 {
    font-size: 28px !important; }

  h4 {
    font-size: 24px !important; }

  h5 {
    font-size: 20px !important; }

  h6 {
    font-size: 18px !important; }

  p {
    font-size: 16px !important; } }
/* Print Style for Org Chart*/
/* ------------------------------------------ */
@media print {
  .org-chart {
    width: 94%;
    margin: 1em auto; } }
@media print {
  .org-chart ul {
    margin: 0 !important; } }
@media print {
  .org-chart ul li {
    border: 0 !important;
    margin: 0 !important;
    width: 100% !important; } }
@media print {
  .org-chart *:not(.org-chart__item-inner):after,
  .org-chart *:before {
    display: none !important; } }

@media print {
  .org-chart__item {
    width: 100% !important;
    height: auto !important;
    margin: 0 !important;
    text-align: left;
    padding: 15px 5%; }
    .org-chart__item img {
      width: 100%;
      max-width: 120px;
      top: auto !important; } }

@media print {
  .org-chart__item-inner {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    position: relative;
    display: inline-block;
    width: auto; } }

@media print {
  .org-chart__name {
    display: none !important; } }

@media print {
  .org-chart__info {
    display: none !important; } }

@media print {
  .org-chart__list-lv1 > li {
    padding: 0; }
    .org-chart__list-lv1 > li > .org-chart__item {
      font-size: 0; }
      .org-chart__list-lv1 > li > .org-chart__item .org-chart__item-inner {
        padding-left: 0;
        border-left: 0; }
    .org-chart__list-lv1 > li > .org-chart__item > div {
      display: inline-block;
      vertical-align: middle;
      position: relative; }
      .org-chart__list-lv1 > li > .org-chart__item > div:first-child {
        width: 30%; }
      .org-chart__list-lv1 > li > .org-chart__item > div:last-child {
        width: 70%;
        font-size: 12px;
        padding: 0 5%; } }

@media print {
  .org-chart__list-lv2 .org-chart__item {
    padding-left: 5%; } }
@media print {
  .org-chart__list-lv2 > li:after {
    width: 500px;
    background: #FFF;
    height: 40px;
    border-left: 1px solid #000;
    top: 165px;
    z-index: 45; } }
@media print {
  .org-chart__list-lv2 > li > .org-chart__list-lv4 > li .org-chart__item {
    padding-left: 10%; } }
@media print {
.org-chart__list-lv3 {
  display: block;
  text-align: center;
  z-index: 25;
  background: #FFF;
  overflow: visible; }
  .org-chart__list-lv3:before {
    content: '';
    background: #000;
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    left: 135px;
    z-index: 5; }
    @media screen and (max-width: 1780px) {
      .org-chart__list-lv3:before {
        left: 95px; } }
  .org-chart__list-lv3 .org-chart__item {
    background: #fedca4; }
    @media print {
      .org-chart__list-lv3 .org-chart__item {
        padding-left: 10%; } }
  .org-chart__list-lv3 > li {
    display: inline-block;
    vertical-align: top; }
    @media print {
      .org-chart__list-lv3 > li {
        display: block;
        z-index: 35;
        border-left: 1px solid #000;
        padding: 0 15px; } }
    @media print {
      .org-chart__list-lv3 > li {
        padding: 0; } }
    @media print {
      .org-chart__list-lv3 > li .org-chart__item:before {
        width: 10px; } }
    @media print {
      .org-chart__list-lv3 > li:after {
        z-index: 25;
        left: 20px; } }
    .org-chart__list-lv3 > li:first-child:before {
      content: ''; }
      @media print {
        .org-chart__list-lv3 > li:first-child:before {
          display: none; } }
    @media print {
      .org-chart__list-lv3 > li:not(:last-child):not(:first-child):before {
        background: #FFF;
        width: 110px;
        height: 28px;
        border-left: 0;
        border-right: 1px solid #000;
        border-top: 1px solid #000;
        bottom: auto;
        top: -15px;
        margin-bottom: -15px;
        left: auto;
        right: 50%;
        z-index: 5; } }
    @media print {
      .org-chart__list-lv3 > li:last-child {
        border-left: 0; } }
    @media print {
      .org-chart__list-lv3 > li:last-child:before {
        width: 110px;
        height: 28px;
        border-left: 0;
        border-right: 1px solid #000;
        border-top: 1px solid #000;
        bottom: auto;
        top: -15px;
        margin-bottom: -15px;
        left: auto;
        right: 50%;
        z-index: 5; } }
    @media print {
      .org-chart__list-lv3 > li:last-child .org-chart__item:before {
        background: #000; } }

@media print {
  .org-chart__list-lv4 > li .org-chart__item {
    padding-left: 15%; } }
@media screen and (max-width: 1780px) {
  .org-chart__list-lv4 > li:last-child:after {
    width: 105px; } }
@media print {
  .org-chart__list-lv4 > li:last-child:after {
    z-index: 30;
    width: 100px; } }

@media print {
  .org-chart__collapsible > .org-chart__item {
    cursor: pointer; }
    .org-chart__collapsible > .org-chart__item .org-chart__item-inner {
      padding-left: 25px; }
      .org-chart__collapsible > .org-chart__item .org-chart__item-inner:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 7px 0 7px;
        border-color: #000000 transparent transparent transparent;
        display: block;
        position: absolute;
        left: 0;
        top: 1em;
        margin-top: 0;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg); }
  .org-chart__collapsible > ul {
    display: block; }
  .org-chart__collapsible.is-active > .org-chart__item .org-chart__item-inner:after {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); }
  .org-chart__collapsible.is-active > ul {
    display: block; } }

@media print {
  .org-chart .org-chart__list-lv2 > li {
    border: 4px solid #71cdff !important;
    border-top: 0 !important; }
    .org-chart .org-chart__list-lv2 > li:first-child {
      border-top: 4px solid #71cdff !important; } }
@media print {
  .org-chart .org-chart__list-lv3 > li {
    border: 4px solid #eb6100 !important;
    border-top: 0 !important;
    border-style: dashed !important; }
    .org-chart .org-chart__list-lv3 > li:first-child {
      border-top: 4px solid #eb6100 !important;
      border-style: dashed !important; } }
	}
/* END Print Style for Org Chart */
/* ------------------------------------------ */						  
