/*=======fonts=======*/
@font-face{
	font-family:'ITCFranklinGothic';
	font-style: normal;
  font-weight: 400;
	src: url('../../fonts/ITC/ITCFranklinGothic-Book.eot');
	src: url('../../fonts/ITC/ITCFranklinGothic-Book.eot?#iefix') format('embedded-opentype'),
	  	 url('../../fonts/ITC/ITCFranklinGothic-Book.ttf') format('truetype'),
	 	   url('../../fonts/ITC/ITCFranklinGothic-Book.svg') format('svg');
}
@font-face{
	font-family:'ITCFranklinGothic';
	font-style: normal;
  font-weight: 500;
	src: url('../../fonts/ITC/ITCFranklinGothic-Med.eot');
	src: url('../../fonts/ITC/ITCFranklinGothic-Med.eot?#iefix') format('embedded-opentype'),
	  	 url('../../fonts/ITC/ITCFranklinGothic-Med.ttf') format('truetype'),
	 	   url('../../fonts/ITC/ITCFranklinGothic-Med.svg') format('svg');
}
@font-face{
	font-family:'ITCFranklinGothic';
	font-style: normal;
  font-weight: 600;
	src: url('../../fonts/ITC/ITCFranklinGothic-Demi.eot');
	src: url('../../fonts/ITC/ITCFranklinGothic-Demi.eot?#iefix') format('embedded-opentype'),
	  	 url('../../fonts/ITC/ITCFranklinGothic-Demi.ttf') format('truetype'),
	 	   url('../../fonts/ITC/ITCFranklinGothic-Demi.svg') format('svg');
}
@font-face{
	font-family:'ITCFranklinGothic';
	font-style: normal;
  font-weight: 700;
	src: url('../../fonts/ITC/ITCFranklinGothic-Hvy.eot');
	src: url('../../fonts/ITC/ITCFranklinGothic-Hvy.eot?#iefix') format('embedded-opentype'),
	  	 url('../../fonts/ITC/ITCFranklinGothic-Hvy.ttf') format('truetype'),
	 	   url('../../fonts/ITC/ITCFranklinGothic-Hvy.svg') format('svg');
}

/*Font Styles*/
body {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
}
